@page "/login"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@rendermode InteractiveServer

@using YourGamesList.Web.Client.Services.Ygl
@using YourGamesList.Web.Store.AuthFeature

<PageTitle>Login</PageTitle>

<div class="d-flex">
    <MudTextField @bind-Value="Username" Label="Standard" Variant="Variant.Outlined"></MudTextField>
    <MudTextField @bind-Value="Password" Label="Password" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End"
                  AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ChangePasswordVisibility" AdornmentAriaLabel="Show Password"/>
    <MudButton Variant="Variant.Filled" OnClick="LoginUser" EndIcon="@Icons.Material.Filled.Login" Color="Color.Primary">
        @if (LoggingIn)
        {
            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
            <MudText Class="ms-2">Processing</MudText>
        }
        else
        {
            <MudText>Login</MudText>
        }
    </MudButton>
</div>


@code {
    private InputType PasswordInput = InputType.Password;
    private string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
    private bool _showPassword = false;
    private bool LoggingIn = false;
    private string Username = "";
    private string Password = "";

    [Inject] private IState<AuthState> AuthState { get; set; } = default!;
    [Inject] private IDispatcher Dispatcher { get; set; } = default!;

    [Inject] private IYglAuthClient AuthClient { get; set; } = default!;

    private void ChangePasswordVisibility()
    {
        if (_showPassword)
        {
            _showPassword = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            _showPassword = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    private async Task LoginUser()
    {
        LoggingIn = true;

        var res = await AuthClient.Login(Username, Password);
        if (res.IsSuccess)
        {
            var action = new LoginAction()
            {
                UserToken = res.Value
            };
            Dispatcher.Dispatch(action);
        }
        else
        {
        }

        LoggingIn = false;
    }

}